.servizi{
    text-align: center;
    color: blueviolet;
}

.citta{
    text-align: center;
}

.immagine{
    height: 400px;
    width: 500px;
}

.separa{
    margin: 30px;
}

.bottone{
    height: 30px;
    cursor: pointer;
    border-color: rgb(72, 0, 139);
    border-radius: 20px;
}
