.products{
    text-align: center;
    color: blueviolet;
}

.cards{
    text-align: center;
}

.images{
    height: 250px;
    width: 300px;
    border-radius: 90px;
}

.separation{
    margin: 25px;
}

.add{
    height: 30px;
    cursor: pointer;
    border-color: rgb(72, 0, 139);
    border-radius: 20px;
    color: rgb(72, 0, 139);
    font-weight: bold;
}

.cart{
    margin: 20px;
}