.servizi{
    text-align: center;
    color: blueviolet;
}

.gubbio{
    text-align: center;
}

.catanzaro{
    text-align: center;
}

.lampedusa{
    text-align: center;
}

.rogoredo{
    text-align: center;
}